@model BeanSceneWebApp.Data.Reservation

@{
    ViewData["Title"] = "AssignTableConfirmation";
}

<h4>Assign Tables</h4>

<h3>Thank you!</h3>


<h4>Your you have assigned a reservation to tables</h4>

<button onclick="location.href='@Url.Action("Index", "Reservation")'" class="book-a-table-btn scrollto d-none d-lg-flex">OK</button>