@model List<BeanSceneWebApp.Data.ReservationTable>

@{
    ViewData["Title"] = "CancelAssignedTable";
}

<h4>Cancel Assigned Table</h4>

<h3>Are you sure you want to delete all associated tables?</h3>

<form asp-action="CancelAssignedTable" method="post">
    @for (int i = 0; i < Model.Count; i++)
    {
            <input type="hidden" name="reservationTables[@i].Id" value="@Model[i].Id" />
    }

    <input type="submit" value="Delete All Tables" class="btn btn-danger" />
    |
    <a asp-action="Index">Back to List</a>
</form>
